.feature-box {
  background-color: rgba($color-white, 0.8);
  border-radius: 3px;
  padding: 2.5rem;
  transition: transform .2s;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  &__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    background-image: linear-gradient(to right, rgba($color-primary-light,.8), rgba($color-primary-dark, .8));
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}